In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
import time 
from datetime import datetime, timedelta

In [ ]:
# This notebook was used on Google Colab
youtube_data = pd.read_csv('/content/drive/My Drive/INvideos.csv') #reading csv for INDIA
youtube_data

          video_id  ...                                        description
0      kzwfHumJyYc  ...  Presenting Sharry Mann latest Punjabi Song  Cu...
1      zUZ1z7FwLc8  ...  पीरियड्स के समय, पेट पर पति करता ऐसा, देखकर दं...
2      10L1hZ9qa58  ...  Watch Stylish Star Allu Arjun @ ChaySam Weddin...
3      N1vE8iiEg64  ...  This video showcases the difference between pe...
4      kJzGH0PVQHQ  ...  why Samantha became EMOTIONAL @ Samantha naga ...
...            ...  ...                                                ...
37347  iNHecA3PJCo  ...  PRG Music & RDC Rajasthani presents फेकू आशिक़...
37348  dpPmPbhcslM  ...  Flowers - A R Rahman Show,Book your Tickets He...
37349  mV6aztP58f8  ...  Subscribe to Mazhavil Manorama now for your da...
37350  qxqDNP1bDEw  ...  Nuabohu : Story of a rustic village girl who w...
37351  wERgpPK44w0  ...  Check out Ee Nagaraniki Emaindi Trailer #EeNag...

[37352 rows x 16 columns]

In [ ]:
print(youtube_data.isnull().sum()) # no missing values except in description. Doesn't affect us as it is not used in our ML model
youtube_data.columns

video_id                    0
trending_date               0
title                       0
channel_title               0
category_id                 0
publish_time                0
tags                        0
views                       0
likes                       0
dislikes                    0
comment_count               0
thumbnail_link              0
comments_disabled           0
ratings_disabled            0
video_error_or_removed      0
description               561
dtype: int64

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description'],
      dtype='object')

In [ ]:
trending_data = youtube_data.drop(columns=['title', 'channel_title', 'publish_time', 'tags', 'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description' ])
# Only keep columns that we are interested in
trending_data

          video_id trending_date  category_id  ...  likes  dislikes  comment_count
0      kzwfHumJyYc      17.14.11            1  ...  33966       798            882
1      zUZ1z7FwLc8      17.14.11           25  ...    735       904              0
2      10L1hZ9qa58      17.14.11           24  ...   2011       243            149
3      N1vE8iiEg64      17.14.11           23  ...  70353      1624           2684
4      kJzGH0PVQHQ      17.14.11           24  ...    492       293             66
...            ...           ...          ...  ...    ...       ...            ...
37347  iNHecA3PJCo      18.14.06           23  ...   3291       404            196
37348  dpPmPbhcslM      18.14.06           24  ...   1726       478           1428
37349  mV6aztP58f8      18.14.06           24  ...   1216       453            697
37350  qxqDNP1bDEw      18.14.06           24  ...    698       115             65
37351  wERgpPK44w0      18.14.06           24  ...  22466      1609           1205

[37352 rows x 7 columns]

In [ ]:
print(len(trending_data['video_id'].unique())) #16307 unique videos in original dataset

# change data format
trending_data['trending_date'] = pd.to_datetime(trending_data['trending_date'], format='%y.%d.%m')
trending_data['trending_date'] = [x.date() for x in trending_data['trending_date']]

# dates = trending_data['trending_date'].unique()

16307

In [ ]:
videos = trending_data['video_id'].unique()
print(len(videos))

final_df = pd.DataFrame(columns=['video_id','trending_date','category_id','views','likes','dislikes',	'comment_count',	'views_per_day',	'likes_per_day',	'dislikes_per_day',	'comments_per_day', 'trending'])


for video in range(len(videos)): # 16307 unique videos in original dataset
  vid_data = trending_data[trending_data['video_id'].isin([videos[video]])] # For each unique video, extract all of its entries from the dataset
  for index in range(len(vid_data)):
    vid_data = vid_data.reset_index(drop=True)
    if index < len(vid_data)-1:
      if vid_data.at[index+1, 'trending_date'] == vid_data.at[index, 'trending_date'] + timedelta(1):
         # if consecutive entries also have consecutive dates, then substract to find daily stats
        vid_data.at[index+1, 'views_per_day'] = vid_data.at[index+1, 'views'] - vid_data.at[index, 'views']
        vid_data.at[index+1, 'likes_per_day'] = vid_data.at[index+1, 'likes'] - vid_data.at[index, 'likes']
        vid_data.at[index+1, 'dislikes_per_day'] = vid_data.at[index+1, 'dislikes'] - vid_data.at[index, 'dislikes']
        vid_data.at[index+1, 'comments_per_day'] = vid_data.at[index+1, 'comment_count'] - vid_data.at[index, 'comment_count']

  final_df = final_df.append(vid_data, ignore_index=True)

final_df

16307

          video_id trending_date  ... comments_per_day trending
0      kzwfHumJyYc    2017-11-14  ...              NaN      NaN
1      kzwfHumJyYc    2017-11-15  ...            663.0      NaN
2      kzwfHumJyYc    2017-11-16  ...            679.0      NaN
3      zUZ1z7FwLc8    2017-11-14  ...              NaN      NaN
4      zUZ1z7FwLc8    2017-11-15  ...              0.0      NaN
...            ...           ...  ...              ...      ...
37347  AX_oTMHOb-E    2018-06-14  ...              NaN      NaN
37348  BgnpdzZFtzA    2018-06-14  ...              NaN      NaN
37349  OsTbJ1rIo4U    2018-06-14  ...              NaN      NaN
37350  aKsKUk4RPLM    2018-06-14  ...              NaN      NaN
37351  3MTCSll3KGU    2018-06-14  ...              NaN      NaN

[37352 rows x 12 columns]

In [ ]:
nan_rows = final_df.isnull().sum()
print(nan_rows)
final_df = final_df[final_df['views_per_day'].notna()].reset_index(drop=True)

print(len(final_df.video_id.unique())) # 8418 unique videos remain in the dataset i.e. videos for which we could extract daily stats
final_df

video_id                0
trending_date           0
category_id             0
views                   0
likes                   0
dislikes                0
comment_count           0
views_per_day       21347
likes_per_day       21347
dislikes_per_day    21347
comments_per_day    21347
trending            37352
dtype: int64
8418

          video_id trending_date  ... comments_per_day trending
0      kzwfHumJyYc    2017-11-15  ...            663.0      NaN
1      kzwfHumJyYc    2017-11-16  ...            679.0      NaN
2      zUZ1z7FwLc8    2017-11-15  ...              0.0      NaN
3      zUZ1z7FwLc8    2017-11-16  ...              0.0      NaN
4      zUZ1z7FwLc8    2017-11-17  ...              0.0      NaN
...            ...           ...  ...              ...      ...
16000  GwGLUH3IUdU    2018-06-14  ...             14.0      NaN
16001  dEO0ezpwZng    2018-06-14  ...             24.0      NaN
16002  0qAexDFUW2U    2018-06-14  ...             11.0      NaN
16003  9ttVEPk2fhM    2018-06-14  ...            117.0      NaN
16004  qRnb4JZykH4    2018-06-14  ...             18.0      NaN

[16005 rows x 12 columns]

In [ ]:
videos = final_df['video_id'].unique()
print(len(videos))

for video in range(len(videos)):
  vid_data = final_df[final_df['video_id'].isin([videos[video]])]#.reset_index(drop=True)
  for index in range(len(vid_data)):
    vid_data = vid_data.reset_index(drop=True)
    if index < len(vid_data)-1:
      if vid_data.at[index+1, 'trending_date'] == vid_data.at[index, 'trending_date'] + timedelta(1):
        # labelled 1 as video was on trending the next day
        vid_data.at[index, 'trending'] = 1
      else:
        # labelled 0 as video was not on trending the next day.
        vid_data.at[index, 'trending'] = 0
    else:
      #last entry is labelled 0 automatically as because video did not appear in trending later on
      vid_data.at[index, 'trending'] = 0

    current_vid = vid_data.at[index, 'video_id']
    current_date = vid_data.at[index, 'trending_date']

    temp_index = final_df[(final_df['video_id']==current_vid) & (final_df['trending_date']==current_date)].index
    final_df.at[temp_index, 'trending'] = vid_data.at[index, 'trending']

final_df

8418

          video_id trending_date  ... comments_per_day trending
0      kzwfHumJyYc    2017-11-15  ...            663.0        1
1      kzwfHumJyYc    2017-11-16  ...            679.0        0
2      zUZ1z7FwLc8    2017-11-15  ...              0.0        1
3      zUZ1z7FwLc8    2017-11-16  ...              0.0        1
4      zUZ1z7FwLc8    2017-11-17  ...              0.0        1
...            ...           ...  ...              ...      ...
16000  GwGLUH3IUdU    2018-06-14  ...             14.0        0
16001  dEO0ezpwZng    2018-06-14  ...             24.0        0
16002  0qAexDFUW2U    2018-06-14  ...             11.0        0
16003  9ttVEPk2fhM    2018-06-14  ...            117.0        0
16004  qRnb4JZykH4    2018-06-14  ...             18.0        0

[16005 rows x 12 columns]

In [ ]:
# Manual verification
# print(trending_data[trending_data['video_id'] == 'j7I-d1B6HwE'])
# final_df[final_df['video_id'] == '7I-d1B6HwE']
# final_df[final_df['video_id'] == 'j7I-d1B6HwE']
# nan_rows = final_df.isnull().sum()
# print(nan_rows)

In [ ]:
# print(final_df[['category_id']].describe())
# final_df[final_df['trending'] == 0].count() # 5891
# final_df[final_df['trending'] == 1].count() # 28099 more 1s than 0s in dataset. it is imbalanced
# final_1s = pd.DataFrame(final_df[(final_df['trending'] == 1) & (final_df['category_id'] == 24)])
# final_0s = pd.DataFrame(final_df[(final_df['trending'] == 0) & (final_df['category_id'] == 24)])
# print(final_1s)
# print(final_0s)
# final_1s = final_1s.sample(frac=len(final_0s)/len(final_1s)).reset_index(drop=True)
# dataset = final_0s.append(final_1s,ignore_index=True).sample(frac=1).reset_index(drop=True)
# dataset

In [ ]:
print("Number of 0s in dataset:",len(final_df[final_df['trending'] == 0]))
print("Number of 1s in dataset:",len(final_df[final_df['trending'] == 1]))

final_df

Number of 0s in dataset: 8437
Number of 1s in dataset: 7568

          video_id trending_date  ... comments_per_day trending
0      kzwfHumJyYc    2017-11-15  ...            663.0        1
1      kzwfHumJyYc    2017-11-16  ...            679.0        0
2      zUZ1z7FwLc8    2017-11-15  ...              0.0        1
3      zUZ1z7FwLc8    2017-11-16  ...              0.0        1
4      zUZ1z7FwLc8    2017-11-17  ...              0.0        1
...            ...           ...  ...              ...      ...
16000  GwGLUH3IUdU    2018-06-14  ...             14.0        0
16001  dEO0ezpwZng    2018-06-14  ...             24.0        0
16002  0qAexDFUW2U    2018-06-14  ...             11.0        0
16003  9ttVEPk2fhM    2018-06-14  ...            117.0        0
16004  qRnb4JZykH4    2018-06-14  ...             18.0        0

[16005 rows x 12 columns]

In [ ]:
# print(len(dataset[dataset['trending'] == 0]))
# print(len(dataset[dataset['trending'] == 1]))
# dataset

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix , accuracy_score , precision_score , recall_score
from sklearn.preprocessing import StandardScaler

X = final_df[['views_per_day'	,'likes_per_day', 'dislikes_per_day',	'comments_per_day']]
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X) # standardize the features(columns) of X
Y = final_df['trending'].astype(int) 
# X = dataset[['views_per_day'	,'likes_per_day', 'dislikes_per_day',	'comments_per_day']]
# scaler = StandardScaler()
# scaler.fit(X)
# X = scaler.transform(X)
# # print(X)
# Y = dataset['trending'].astype(int)

# split data into train and test  randomly
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, shuffle=True)


model = LogisticRegression(class_weight='balanced')
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
# print(model.predict_proba(X_test))
print(model.score(X_test, y_test))
# print(model.coef_)
print("Accuracy:",accuracy_score(y_test, y_pred))
print("Precision:",precision_score(y_test, y_pred))
print("Recall:",recall_score(y_test, y_pred))

0.6579210394802598
Accuracy: 0.6579210394802598
Precision: 0.7476547842401501
Recall: 0.4201370585134423